.button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline:none;
    color: #fff;
    background: linear-gradient(90deg, #6441A5 0%, #2A0845 100%);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
    margin-top:35vh;
}

#playerNameDisplay {
    letter-spacing: 3px;
    margin-top:1vh;
}

#playerNameDisplay, .button{
    margin-left:15vh;
}