.inputBox {
    width: 250px;
    padding: 12px 5px ;
    background: linear-gradient(90deg, #6441A5 0%, #2A0845 100%);
}

.submitBox {
    width: 100px;
    padding: 12px 10px;
    background: linear-gradient(90deg, #6441A5 0%, #2A0845 100%);
    
}

.inputBox, .submitBox {
    border: 0;
    outline: none;
    color: #fff;
    border-radius: 6px;

}